<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @domain.code %>
</p>

<p>
  <b>Long name:</b>
  <%= @domain.long_name %>
</p>


<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
